.container{
    background-color: rgb(0, 0, 82);
}
.l1{
    text-align: right;
}
label{
    color: rgb(179, 179, 3);
}
.heading{
    color: rgb(179, 179, 3);
    margin-left: 10px;
}
.i1{
    width: 70%;
    border-radius: 5px;
    margin-bottom: 0.8em !important;
    height: 3em;
}
label{
    padding-bottom: 2em;
}
#error{
    color: tomato;
}